<table mat-table [dataSource]="elements" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
    <td mat-cell *matCellDef="let e">
      RAMA: {{e.nombre}}
      <li *ngFor="let puntaje of e.puntajes">
        {{puntaje.nombre}}
      </li>
    </td>
  </ng-container>

  <ng-container matColumnDef="puntuacion">
    <th mat-header-cell *matHeaderCellDef> PUNTUACION</th>
    <td mat-cell *matCellDef="let e">
      <br>
      <li *ngFor="let puntaje of e.puntajes">
        {{puntaje.puntuacion}}
      </li>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<label>
  Date Time:
  <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
  <owl-date-time #dt></owl-date-time>
</label>

<button (click)="crearAlumno()"></button>